In [1]:
import pandas as pd
a = pd.Series(["a","b","c"])
a

0    a
1    b
2    c
dtype: object

### 순차 자료로 시리즈 만들기
+ 시리즈 객체 = pandas.Series(자료, index=[인덱스값들])
    1. pandas 모듈을 import 한다.
    2. pandas 모듈을 Series 클래스로 시리즈를 생성한다.
    3. '자료'는 리스트 또는 1차원 배열이다.
    4. index 옵션으로 원하는 '인덱스 값들'을 지정할 수 있다. 옵션을 주지 않으면 0부터 시작한다.

In [2]:
b = pd.Series([10,20], index=[1,2])
b

1    10
2    20
dtype: int64

### 시리즈의 주요 속성들
+ Series.values : 시리즈가 가지고 있는 항목 값들
+ Series.index : 시리즈의 인덱스들
+ Series.dtypes : 시리즈에 들어 있는 값들의 자료형

In [6]:
a = pd.Series([10,20,30],index=range(1,4))
a.values

array([10, 20, 30])

In [7]:
a.index

RangeIndex(start=1, stop=4, step=1)

In [8]:
a.dtypes

dtype('int64')

### 사전 자료로 시리즈 만들기
 + 시리즈 객체 = pd.Series(사전자료, index[사전의 키들])
     1. Series 클래스를 이용할 때, ‘사전 자료’를 사용할 수 있다.
     2. 사전의 항목들의 각 키가 자동으로 ‘인덱스’로 적용된다.
     3. index 옵션을 사전의 키로 직접 지정하면 순서가 부여된다.

In [10]:
data = {111:"홍길동",222:"성춘향",333:"이순신"}
a = pd.Series(data)
a

111    홍길동
222    성춘향
333    이순신
dtype: object

In [11]:
data = {111:"홍길동",222:"성춘향",333:"이순신"}
idx = [222,333,111]
a = pd.Series(data,index=idx)
a

222    성춘향
333    이순신
111    홍길동
dtype: object

### 시리즈에 대한 인덱싱
+ 시리즈[번호] 또는 시리즈['라벨'] 또는 시리즈.라벨
    1. 번호 기반의 인덱싱과 라벨 기반의 인덱싱을 할 수 있다.
    2. 인덱스 라벨이 문자열인 경우 '.' 기호로 접근할 수도있다.

In [12]:
data = {"홍길동":85,"성춘향":93.5,"이순신":77}

score = pd.Series(data)
score

홍길동    85.0
성춘향    93.5
이순신    77.0
dtype: float64

In [13]:
score[0]

85.0

In [14]:
score["성춘향"]

93.5

In [15]:
score.이순신

77.0

### 시리즈에 대한 연산

In [21]:
a = pd.Series([10,20,30],index=range(1,4))
a+1

1    11
2    21
3    31
dtype: int64

In [20]:
a-2

1     8
2    18
3    28
dtype: int64

In [19]:
b = pd.Series([100.0,150.0,200.0])
b

0    100.0
1    150.0
2    200.0
dtype: float64

+ 시리즈 간의 사칙연산 시에는 동일한 인덱스의 값들끼리 연산한다.

In [22]:
a+b

0      NaN
1    160.0
2    220.0
3      NaN
dtype: float64

In [23]:
a*b

0       NaN
1    1500.0
2    4000.0
3       NaN
dtype: float64

### 논리연산

In [25]:
a>10 # 논리연산도 가능하다

1    False
2     True
3     True
dtype: bool

In [26]:
a>b

ValueError: Can only compare identically-labeled Series objects

+ 인덱스가 동일해야 비교가 가능하지만. values 속성을 이용하면 값의 개수가 동일한 시리즈의 연산을 할 수 있다.

In [27]:
a.values > b.values

array([False, False, False])

### 시리즈의 값추가,변경,삭제
+ 사전에서의 항목 추가, 변경,삭제와 동일한 방식으로 적용한다.

In [28]:
score

홍길동    85.0
성춘향    93.5
이순신    77.0
dtype: float64

In [30]:
score["김청수"]= 100
score

홍길동     85.0
성춘향     93.5
이순신     77.0
김청수    100.0
dtype: float64

In [34]:
score["홍길동"] = 65.4
score

홍길동     65.4
성춘향     93.5
이순신     77.0
김청수    100.0
dtype: float64

### 순차 자료로 데이터 프레임 만들기
+ DF 객체 = pd.DataFrame(자료,idex=[인덱스 값들],columns[컬럼값들])
    1. pandas 모듈의 DataFrame 클래스를 이용하여 데이터 프레임을 생성한다.
    2. '자료' 는 리스트 또는 2차원 배열이다. index 옵션으로 행이름, columns 옵션으로 열 이름을 지정할 수 있다.

In [35]:
import numpy as np
df = pd.DataFrame(np.array(([11,22],[33,44])))
df

    0   1
0  11  22
1  33  44

In [36]:
data = np.arange(4).reshape(2,2)
df = pd.DataFrame(data, index = [100,200], columns=["A","B"])
df

     A  B
100  0  1
200  2  3

In [38]:
data = {"name":["홍길동","성춘향","이순신"],"score":[85,93.5,77]}

df = pd.DataFrame(data)
df

  name  score
0  홍길동   85.0
1  성춘향   93.5
2  이순신   77.0

In [39]:
df = pd.DataFrame(data,index=[11,22,33],columns=["name","score","grade"])
df

   name  score grade
11  홍길동   85.0   NaN
22  성춘향   93.5   NaN
33  이순신   77.0   NaN